:root {
    --background-base2: #eee8d5;
    --background-base3: #fdf6e3;
    --content-color: #586e75;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
}

body {
    text-align: center;
    background-color: var(--background-base2);
}

.container_div {
    margin: 25% 25% 25% 25%;
    background-color: var(--background-base3);
    width: 50%;
    padding: 10px;
}
